a{
    color: green;
    text-decoration: none;
}
a:nth-child(5) {
    color: red;
}
#first-div p:first-child {
    color: red;
}
#first-div > p::after{
    content: "NEW";
    color: rgb(240, 240, 108);
}
#second-div p{
    color: blue;
}
#second-div p:nth-child(even){
    color: red;
}
body > p:last-of-type:hover{
    font-style: italic;
}
